<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="container">
	{{ content }}
		<footer>
      <ul>
        <li><a href=/assets/files/sane_cv_v8.pdf>CV (current as of Aug. 2026)</a></li>
        <li><a href=/assets/aboutme.md>About me</a></li>
        <li><a href=https://scholar.google.com/citations?user=-7Itmo8AAAAJ>Publications</a></li> 
        <li><a href=https://anna_nimmus.substack.com>Substack</a></li>
        <li><a href=mailto:siddharth.sane@yale.edu>Contact</a></li>
        <li><a href=https://github.com/Element200/>Github</a></li>
      </ul>
    </footer>
  </body>
</html>
